################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JsonDoc/v15/Server/sqlite3/storage.ide-wal
/.vs/JsonDoc/v15/Server/sqlite3/storage.ide-shm
/.vs/JsonDoc/v15/Server/sqlite3/storage.ide
/.vs/JsonDoc/v15/Server/sqlite3/db.lock
/.vs/JsonDoc/v15/.suo
/.vs/JsonDoc/DesignTimeBuild/.dtbcache
/source/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.pdb
/source/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.dll
/source/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.deps.json
/source/obj/project.assets.json
/source/obj/JsonDoc.csproj.nuget.g.targets
/source/obj/JsonDoc.csproj.nuget.g.props
/source/obj/JsonDoc.csproj.nuget.cache
/source/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/source/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/source/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/source/obj/Debug/netcoreapp2.1/JsonDoc.csproj.FileListAbsolute.txt
/source/obj/Debug/netcoreapp2.1/JsonDoc.csproj.CoreCompileInputs.cache
/source/obj/Debug/netcoreapp2.1/JsonDoc.assets.cache
/source/obj/Debug/netcoreapp2.1/JsonDoc.AssemblyInfoInputs.cache
/source/obj/Debug/netcoreapp2.1/JsonDoc.AssemblyInfo.cs
/source/obj/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.pdb
/source/obj/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.dll
/test/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
/test/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
/test/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
/test/bin/Debug/netcoreapp2.1/nunit.engine.netstandard.dll
/test/bin/Debug/netcoreapp2.1/Mono.Cecil.dll
/test/bin/Debug/netcoreapp2.1/JsonDocTest.runtimeconfig.json
/test/bin/Debug/netcoreapp2.1/JsonDocTest.runtimeconfig.dev.json
/test/bin/Debug/netcoreapp2.1/JsonDocTest.pdb
/test/bin/Debug/netcoreapp2.1/JsonDocTest.dll
/test/bin/Debug/netcoreapp2.1/JsonDocTest.deps.json
/test/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.runtimeconfig.json
/test/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.runtimeconfig.dev.json
/test/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.pdb
/test/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.dll
/test/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.deps.json
/test/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.pdb
/test/bin/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.dll
/test/obj/project.assets.json
/test/obj/JsonDocTest.csproj.nuget.g.targets
/test/obj/JsonDocTest.csproj.nuget.g.props
/test/obj/JsonDocTest.csproj.nuget.cache
/test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/test/obj/Debug/netcoreapp2.1/JsonDocTest.Program.cs
/test/obj/Debug/netcoreapp2.1/JsonDocTest.pdb
/test/obj/Debug/netcoreapp2.1/JsonDocTest.dll
/test/obj/Debug/netcoreapp2.1/JsonDocTest.csprojAssemblyReference.cache
/test/obj/Debug/netcoreapp2.1/JsonDocTest.csproj.FileListAbsolute.txt
/test/obj/Debug/netcoreapp2.1/JsonDocTest.csproj.CoreCompileInputs.cache
/test/obj/Debug/netcoreapp2.1/JsonDocTest.csproj.CopyComplete
/test/obj/Debug/netcoreapp2.1/JsonDocTest.assets.cache
/test/obj/Debug/netcoreapp2.1/JsonDocTest.AssemblyInfoInputs.cache
/test/obj/Debug/netcoreapp2.1/JsonDocTest.AssemblyInfo.cs
/test/obj/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.pdb
/test/obj/Debug/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.dll
/test/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/test/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/test/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/test/obj/Release/netcoreapp2.1/JsonDocTest.Program.cs
/test/obj/Release/netcoreapp2.1/JsonDocTest.csprojAssemblyReference.cache
/test/obj/Release/netcoreapp2.1/JsonDocTest.csproj.FileListAbsolute.txt
/test/obj/Release/netcoreapp2.1/JsonDocTest.csproj.CoreCompileInputs.cache
/test/obj/Release/netcoreapp2.1/JsonDocTest.csproj.CopyComplete
/test/obj/Release/netcoreapp2.1/JsonDocTest.assets.cache
/test/obj/Release/netcoreapp2.1/JsonDocTest.AssemblyInfoInputs.cache
/test/obj/Release/netcoreapp2.1/JsonDocTest.AssemblyInfo.cs
/test/obj/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.pdb
/test/obj/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.dll
/test/bin/Release/netcoreapp2.1/nunit_random_seed.tmp
/test/bin/Release/netcoreapp2.1/NUnit3.TestAdapter.pdb
/test/bin/Release/netcoreapp2.1/NUnit3.TestAdapter.dll
/test/bin/Release/netcoreapp2.1/nunit.engine.netstandard.dll
/test/bin/Release/netcoreapp2.1/Mono.Cecil.dll
/test/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.runtimeconfig.json
/test/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.runtimeconfig.dev.json
/test/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.pdb
/test/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.dll
/test/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.Test.deps.json
/test/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.pdb
/test/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.dll
/source/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/source/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/source/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/source/obj/Release/netcoreapp2.1/JsonDoc.csproj.FileListAbsolute.txt
/source/obj/Release/netcoreapp2.1/JsonDoc.csproj.CoreCompileInputs.cache
/source/obj/Release/netcoreapp2.1/JsonDoc.assets.cache
/source/obj/Release/netcoreapp2.1/JsonDoc.AssemblyInfoInputs.cache
/source/obj/Release/netcoreapp2.1/JsonDoc.AssemblyInfo.cs
/source/obj/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.pdb
/source/obj/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.dll
/source/obj/Release/Dennysoft.Core.JsonDoc.1.0.0.nuspec
/source/obj/Debug/netcoreapp2.1/JsonDoc.csprojAssemblyReference.cache
/source/obj/Debug/Dennysoft.Core.JsonDoc.1.0.0.nuspec
/source/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.pdb
/source/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.dll
/source/bin/Release/netcoreapp2.1/Dennysoft.Core.JsonDoc.deps.json
/source/bin/Release/Dennysoft.Core.JsonDoc.1.0.0.nupkg
/source/bin/Debug/Dennysoft.Core.JsonDoc.1.0.0.nupkg
